.icon{
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    
   
    
}

.icon:hover{
   background-color: rgb(227, 209, 242);
   cursor:pointer
   
}

 h2{
    color:"white"
}

/* rgb(147, 241, 227) */


/* input{
    
<<<<<<< Updated upstream
} */
=======
}


.room-dropdown {
    max-height: 150px; /* Adjust the maximum height as needed */
    overflow-y: auto; /* Enable vertical scrollbar if the content exceeds the height */
}
>>>>>>> Stashed changes
